.svn/
/WebContent/WEB-INF/classes/
/build/classes/
.settings/
.project
.classpath
/bin/
.flexLibProperties
.actionScriptProperties
.flexProperties
# Build and Release Folders
bin-debug/
bin-release/
# Project property files

